.Rproj.user
.Rhistory
.RData
_publish.R
_bookdown_files
rsconnect
placeholder.Rcheck/
placeholder*.tar.gz
placeholder*.tgz
docs/libs/gitbook-2.6.7/css/style.css
docs/libs/gitbook-2.6.7/css/plugin-fontsettings.css
